.top-level-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: rgb(43, 43, 43);
}

.left-container {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: evenly;
  padding: 25px;
  box-sizing: border-box;
}

.hex-grid {
  height: 50%;
  margin: 0 0 50px 0;
}

.notes-container {
  height: 50%;
}

.notes-container-header {
  color: lightgrey;
  font-size: 20px;
  margin: 0 0 10px 0;
  text-decoration: underline;
}

.notes-container-note {
  color: lightgrey;
  font-size: 14px;
}

.hex-grid-row {
  display: grid;
  grid-template-columns: repeat(7, 75px);
  grid-gap: 5px;
  margin-bottom: -17px;
}

.hex-grid-row.even {
  margin-left: 40px;
}

.hexagon:hover {
  background-color: deepskyblue;
}

.hexagon.dragged-over {
  background-color: deepskyblue;
}

.hexagon {
  position: relative;
  width: 75px; 
  height: 43.30px;
  margin: 21.65px 0;
  background-color: lightblue;
  background-size: auto 86.6025px;
  background-position: center;
}

.hexTop,
.hexBottom {
  position: absolute;
  z-index: 1;
  width: 53.03px;
  height: 53.03px;
  overflow: hidden;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background: inherit;
  left: 10.98px;
}

.hexTop:after,
.hexBottom:after {
  content: "";
  position: absolute;
  width: 75.0000px;
  height: 43.30127018922194px;
  -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-21.6506px);
  -ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-21.6506px);
  transform:          rotate(45deg) scaleY(1.7321) translateY(-21.6506px);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background: inherit;
}

.hexTop {
  top: -26.5165px;
}

.hexTop:after {
  background-position: center top;
}

.hexBottom {
  bottom: -26.5165px;
}

.hexBottom:after {
  background-position: center bottom;
}

.hexagon:after {
  content: "";
  position: absolute;
  top: 0.0000px;
  left: 0;
  width: 75.0000px;
  height: 43.3013px;
  z-index: 2;
  background: inherit;
}

.hex-item-icon {
  height: 20px;
  width: 20px;
  background-size: cover;
  background-position: center;
  z-index: 3;
  position: relative;
  border-radius: 15px;
}

.middle-container {
  height: 100%;
  width: 20%;
  padding: 20px 0 0 0;
  box-sizing: border-box;
}

.right-container {
  height: 100%;
  width: 30%;
  overflow-y: scroll;
  -ms-overflow-style: none;
  padding: 10px;
  box-sizing: border-box;
  background-color: rgba(43, 43, 43, 1);
}

.tab-container {
  width: 28%;
  margin: -10px 0 10px 0;
  position: fixed;
  height: 55px;
  background-color: rgba(43, 43, 43);
  display: flex;
  align-items: center;
  z-index: 2;
}

.right-container-tab {
  color: lightgrey;
  font-size: 18px;
  background-color: rgb(43, 43, 43);
  border: none;
  padding: 5px;
  margin: 0 10px 0 0;
  box-sizing: border-box;
}

.right-container-tab:focus {
  outline: 0;
}

.right-container-tab:hover {
  border-bottom: 1px solid lightgrey;
  cursor: pointer;
}

.right-container-tab.active {
  border-bottom: 1px solid lightgrey;
}

.right-container::-webkit-scrollbar {
  display: none;
}

.champion-list-filter {
  margin: 0 5px 0 0;
}

.champion-list-filter.first {
  margin-top: 45px;
}

.champion-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 10px;
}

.champion-list-box {
  width: 95%;
  height: auto;
}

.champion-list-box.draggable-item:hover .champion-list-box-tag {
  text-decoration: underline;
}

.champion-list-box.draggable-item:hover .champion-list-box-image {
  transform: scale(1.05);
}

.champion-list-box-image {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  transition: 0.1s ease-in;
}

.champion-list-box-image.one {
  border: 2.5px solid lightgrey;
}

.champion-list-box-image.two {
  border: 2.5px solid lightgreen;
}

.champion-list-box-image.three {
  border: 2.5px solid deepskyblue;
}

.champion-list-box-image.four {
  border: 2.5px solid violet;
}

.champion-list-box-image.five {
  border: 2.5px solid yellow;
}

.champion-list-box-image.opaque {
  opacity: 0.5;
  position: relative;
  z-index: 1;
}

.champion-list-box-tag {
  width: 100%;
  margin: 0;
  text-align: center;
  color: lightgrey;
}

.item-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 13px 0 0 0;
}

.item-list-box {
  width: 90%;
  height: auto;
}

.item-list-box:hover .item-list-box-image {
  transform: scale(1.05);
}

.item-list-box:hover .item-list-box-tag {
  text-decoration: underline;
}

.item-list-box-image {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  border: 2.5px solid lightgrey;
  transition: 0.1s ease-in
}

.item-list-box-tag {
  width: 100%;
  margin: 0 0 10px 0;
  text-align: center;
  color: lightgrey;
}

.team-info-container {
  height: 100%;
  overflow-y: scroll;
  -ms-overflow-style: none;
}

.team-info-container::-webkit-scrollbar {
  display: none;
}

.team-info-header {
  color: lightgrey;
  font-size: 20px;
  margin: 0 0 10px 0;
  text-decoration: underline;
}

.team-info-synergy-name {
  color: lightgrey;
  border-radius: 5px;
  padding: 5px;
  margin: 0 10px 10px 0;
  width: 160px;
}

.team-info-synergy-name.bronze {
  border: 1px solid #965418
}

.team-info-synergy-name.silver {
  border: 1px solid silver
}

.team-info-synergy-name.gold {
  border: 1px solid gold
}

.team-info-synergy-icon {
  width: 15px;
  height: auto;
}

.clear {
  margin: 10px 10px 0 0;
  background-color: black;
  border: 1px solid lightgrey;
  color: lightgrey;
  border-radius: 5px;
  padding: 5px;
}

.clear:hover {
  cursor: pointer;
}

.clear-items {
  margin: 45px 10px 0 0;
  background-color: black;
  border: 1px solid lightgrey;
  color: lightgrey;
  border-radius: 5px;
  padding: 5px;
}

.clear-items:hover {
  cursor: pointer
}

.add-note-box {
  width: 95%;
  height: 200px;
  margin: 50px 0 0 0;
  resize: none;
}

.add-note-button {
  margin: 10px 0 0 0;
  background-color: black;
  border: 1px solid lightgrey;
  color: lightgrey;
  border-radius: 5px;
  padding: 5px;
}

.add-note-button:hover {
  cursor: pointer;
}

.save-comp-button-active {
  margin: 50px 10px 0 0;
  background-color: black;
  border: 1px solid lightgrey;
  color: lightgrey;
  border-radius: 5px;
  padding: 5px;
}

.save-comp-button-active:hover {
  cursor: pointer;
}

.save-comp-button-inactive {
  margin: 50px 10px 0 0;
  background-color: lightgrey;
  border: 1px solid grey;
  color: grey;
  border-radius: 5px;
  padding: 5px;
}

.save-comp-name-input {
  margin: 0 10px 0 0;
  padding: 5px;
  border-radius: 5px;
  border: white;
}

.comp-list-comp-container {
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  padding: 10px 0 10px 0;
  margin: 20px 0 0 0;
  color: white;
  font-size: 20px;
  width: 85%;
  display: flex;
  justify-content: space-between;
}

.comp-list-comp:hover {
  text-decoration: underline;
  cursor: pointer;
}

.comp-list-delete-button {
  background-color: black;
  border: 1px solid lightgrey;
  color: lightgrey;
  border-radius: 5px;
  padding: 5px;
}

.comp-list-empty-message {
  color: lightgrey;
  margin: 20px 0 0 0;
}